@-webkit-keyframes moveUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes moveLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

input,
select,
textarea,
button {
  outline: none;
  background: none;
  border: none;
}

button {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 37.5%;
  }
}

@media only screen and (min-width: 125em) {
  html {
    font-size: 75%;
  }
}

body {
  padding: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body ::-moz-selection {
  background-color: rgba(85, 197, 122, 0.2);
}

body ::selection {
  background-color: rgba(85, 197, 122, 0.2);
}

@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

body {
  color: #777;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.primary-heading {
  padding-bottom: 6em;
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.primary-heading-main, .primary-heading-sub {
  display: block;
}

.primary-heading-main {
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  -webkit-animation: moveLeft 1s ease;
          animation: moveLeft 1s ease;
}

.primary-heading-sub {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  -webkit-animation: moveRight 1s ease;
          animation: moveRight 1s ease;
}

.secondary-heading {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
}

.tertiary-heading {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

@media only screen and (max-width: 56.25em) {
  .u-margin-top-big {
    margin-top: 5rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 2.5rem !important;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.bg-video {
  opacity: .15;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.bg-video__content {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.btn {
  display: inline-block;
  position: relative;
  padding: 1.5rem 4rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.6rem;
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: 100px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.btn:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::before {
  -webkit-transform: scale(1.4, 1.8);
          transform: scale(1.4, 1.8);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translateY(-0.1px);
          transform: translateY(-0.1px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: inherit;
  -webkit-transition: opacity .5s, -webkit-transform .5s ease;
  transition: opacity .5s, -webkit-transform .5s ease;
  transition: transform .5s ease, opacity .5s;
  transition: transform .5s ease, opacity .5s, -webkit-transform .5s ease;
  z-index: -1;
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn-green {
  color: #fff;
  background-color: #55c57a;
}

.btn-animated {
  -webkit-animation: moveUp .5s ease .7s backwards;
          animation: moveUp .5s ease .7s backwards;
}

.btn-text {
  display: inline-block;
  padding: 3px;
  color: #55c57a;
  font-size: 1.6rem;
  border-bottom: 1px solid #55c57a;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn-text:hover {
  color: #fff;
  background-color: #55c57a;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn-text:active {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  position: relative;
  height: 52rem;
}

.card:hover .card__side-front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card__side-back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card__side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 700;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  overflow: hidden;
}

.card__side-front {
  background-color: #fff;
}

.card__side-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  color: #fff;
}

.card__side-back-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card__side-back-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.card__side-back-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.card__picture {
  height: 23rem;
  background-blend-mode: screen;
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card__picture-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730)), url("../img/nat-5.jpg");
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../img/nat-5.jpg");
}

.card__picture-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485)), url("../img/nat-6.jpg");
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("../img/nat-6.jpg");
}

.card__picture-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa)), url("../img/nat-7.jpg");
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../img/nat-7.jpg");
}

.card__heading {
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
  color: #fff;
  font-size: 2.8rem;
  font-weight: 300;
  text-align: right;
  text-transform: uppercase;
}

.card__heading-break {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}

.card__heading-break-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.85)), to(rgba(255, 119, 48, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}

.card__heading-break-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.85)), to(rgba(40, 180, 133, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}

.card__heading-break-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.85)), to(rgba(86, 67, 250, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}

.card__details {
  width: 80%;
  margin: auto;
  padding: 3rem;
}

.card__details li {
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.card__details li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card__price-box {
  color: #fff;
  text-align: center;
  margin-bottom: 8rem;
}

.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.card__price-value {
  font-size: 6rem;
  font-weight: 300;
}

@media only screen and (max-width: 56.25em), only screen and (hover: none) {
  .card {
    height: auto;
    border-radius: 3px;
    background-color: #fff;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  }
  .card__side {
    position: relative;
    height: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .card__side-front {
    padding-bottom: 4rem;
    background-color: #fff;
  }
  .card__side-back {
    margin-top: -5rem;
    padding: 4rem;
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    text-align: center;
  }
  .card:hover .card__side-front {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  .card:hover .card__side-back {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  .card__cta {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translate(0);
            transform: translate(0);
    width: 100%;
  }
  .card__price-box {
    margin-bottom: 3rem;
  }
  .card__price-value {
    font-size: 4rem;
  }
}

.composition {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media only screen and (max-width: 56.25em) {
  .composition {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.composition__photo {
  position: absolute;
  width: 55%;
  border-radius: 2px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  outline-offset: 1rem;
  outline: 0.4rem solid transparent;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

@media only screen and (max-width: 56.25em) {
  .composition__photo {
    position: relative;
    top: 0 !important;
    left: 0 !important;
    width: calc(100% / 3);
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  }
}

.composition__photo-p1 {
  left: 0;
  top: -2rem;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.composition__photo-p2 {
  right: 0;
  top: 2rem;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  z-index: 1;
}

.composition__photo-p3 {
  left: 20%;
  top: 10rem;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.composition__photo:hover {
  -webkit-transform: scale(1.2) translateY(-5px);
          transform: scale(1.2) translateY(-5px);
  -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.3);
  outline-color: #55c57a;
  z-index: 20;
}

.composition:hover .composition__photo:not(:hover) {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.feature-box {
  padding: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  -webkit-box-shadow: 0 1rem 4.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 4.5rem rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  overflow: hidden;
}

@media only screen and (max-width: 56.25em) {
  .feature-box {
    padding: 2rem;
  }
}

.feature-box__icon {
  margin-bottom: 1.5rem;
  font-size: 6rem;
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
}

.feature-box:hover {
  -webkit-transform: translateY(-1.5rem);
          transform: translateY(-1.5rem);
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}

.form__input {
  display: block;
  width: 90%;
  color: inherit;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid transparent;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

@media only screen and (max-width: 56.25em) {
  .form__input {
    width: 100%;
  }
}

.form__input::-webkit-input-placeholder {
  color: #999;
}

.form__input:-ms-input-placeholder {
  color: #999;
}

.form__input::-ms-input-placeholder {
  color: #999;
}

.form__input::placeholder {
  color: #999;
}

.form__input:focus {
  border-color: #55c57a;
  -webkit-box-shadow: 0 1rem 2rem rgba(85, 197, 122, 0.3);
          box-shadow: 0 1rem 2rem rgba(85, 197, 122, 0.3);
}

.form__input:focus:invalid {
  border-color: #ff7730;
}

.form__input:valid {
  border-color: #55c57a;
}

.form__input:placeholder-shown + .form__label {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}

.form__label {
  opacity: 1;
  visibility: visible;
  display: block;
  margin-top: .7rem;
  margin-left: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form__radio-group {
  display: inline-block;
}

.form__radio-group:not(:last-child) {
  margin-right: 6rem;
}

@media only screen and (max-width: 56.25em) {
  .form__radio-group {
    width: 100%;
  }
  .form__radio-group:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.form__radio-input {
  display: none;
}

.form__radio-input:checked +
.form__radio-label
.form__radio-button::after {
  opacity: 1;
}

.form__radio-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form__radio-button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: inline-block;
  position: relative;
  width: 3rem;
  height: 3rem;
  margin-right: 1.5rem;
  border-radius: 50%;
  border: 5px solid #55c57a;
}

.form__radio-button::after {
  content: '';
  opacity: 0;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background-color: #55c57a;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.popup {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  transition: opacity 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 10000;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.popup__content {
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
  width: 65%;
  height: 55rem;
  border-radius: 3px;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1) 0.1s;
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1) 0.1s;
  overflow: hidden;
}

.popup__left {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 33.333333%;
}

.popup__right {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 66.6666667%;
  height: 100%;
  padding: 3rem 5rem;
  background-color: #fff;
}

.popup__close-btn {
  display: inline-block;
  position: absolute;
  top: 3.5rem;
  right: 5rem;
  color: #999;
  font-size: 2.4rem;
  line-height: 1;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.popup__close-btn:hover {
  color: #55c57a;
}

.popup__img {
  display: block;
  width: 100%;
}

.popup__text {
  font-size: 1.4rem;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
}

.story {
  width: 75%;
  margin: auto;
  -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  -webkit-transform: skewX(-12deg);
          transform: skewX(-12deg);
}

@media only screen and (max-width: 56.25em) {
  .story {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .story {
    -webkit-transform: skewX(0);
            transform: skewX(0);
  }
}

.story__shape {
  position: relative;
  width: 15rem;
  height: 15rem;
  -webkit-transform: skewX(12deg) translateX(-3rem);
          transform: skewX(12deg) translateX(-3rem);
  float: left;
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

@media only screen and (max-width: 37.5em) {
  .story__shape {
    -webkit-transform: skewX(0) translateX(-3rem);
            transform: skewX(0) translateX(-3rem);
  }
}

.story__image {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.story__text {
  -webkit-transform: skewX(12deg);
          transform: skewX(12deg);
}

@media only screen and (max-width: 37.5em) {
  .story__text {
    -webkit-transform: skewX(0) translateX(-3rem);
            transform: skewX(0) translateX(-3rem);
  }
}

.story__caption {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 20%);
          transform: translate(-50%, 20%);
  color: #fff;
  font-size: 1.7rem;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.story:hover .story__caption {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.story:hover .story__image {
  -webkit-filter: blur(2px) brightness(80%);
          filter: blur(2px) brightness(80%);
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header {
  position: relative;
  width: 100%;
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(85, 197, 122, 0.8)), to(rgba(40, 180, 133, 0.8))), url("../img/hero-small.jpg");
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero-small.jpg");
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
  .header {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.8)), to(rgba(255, 119, 48, 0.8))), url("../img/hero.jpg");
    background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)), url("../img/hero.jpg");
  }
}

@media only screen and (max-width: 37.5em) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
}

.header__logo-wrapper {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
}

.header__logo {
  height: 3.5rem;
}

.header__text-wrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.footer {
  padding: 10rem 0;
  font-size: 1.4rem;
  background-color: #333;
  color: #f7f7f7;
}

@media only screen and (max-width: 56.25em) {
  .footer {
    top: 3.5rem;
    right: 3.5rem;
  }
}

.footer__logo-box {
  margin-bottom: 8rem;
}

@media only screen and (max-width: 56.25em) {
  .footer__logo-box {
    margin-bottom: 4rem;
  }
}

.footer__logo {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.footer__navigation {
  display: inline-block;
  padding-top: 2rem;
  border-top: 1px solid #555;
}

@media only screen and (max-width: 56.25em) {
  .footer__navigation {
    width: 100%;
    text-align: center;
  }
}

.footer__item {
  display: inline-block;
}

.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}

.footer__link {
  color: #f7f7f7;
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#55c57a), to(#28b485));
  background-image: linear-gradient(to right bottom, #55c57a, #28b485);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-background-clip: text;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.footer__link:hover {
  color: transparent;
  text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}

.footer__copyright {
  margin-left: auto;
  width: 80%;
  float: right;
  padding-top: 2rem;
  border-top: 1px solid #555;
}

@media only screen and (max-width: 56.25em) {
  .footer__copyright {
    width: 100%;
    float: none;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 114rem;
  margin: auto;
}

@media only screen and (max-width: 56.25em) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50rem;
  }
}

.row:not(:last-child) {
  margin-bottom: 4rem;
}

.row .column:not(:last-child) {
  margin-right: 6rem;
}

.row .column-2 {
  width: 50%;
}

.row .column-3 {
  width: calc(100% / 3);
}

.row .column-4 {
  width: 25%;
}

@media only screen and (max-width: 56.25em) {
  .row .column {
    width: 100%;
    margin: 0;
  }
  .row .column:not(:last-child) {
    margin-bottom: 4rem;
  }
}

.navigation__checkbox {
  display: none;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 50%;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 50%;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.navigation__button {
  position: fixed;
  top: 6rem;
  right: 6rem;
  width: 7rem;
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 2000;
}

@media only screen and (max-width: 56.25em) {
  .navigation__button {
    top: 4rem;
    right: 4rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .navigation__button {
    top: 3rem;
    right: 3rem;
  }
}

.navigation__background {
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  width: 6rem;
  height: 6rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
  transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
  transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1), -webkit-transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
  z-index: 1000;
}

@media only screen and (max-width: 56.25em) {
  .navigation__background {
    top: 4.5rem;
    right: 4.5rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .navigation__background {
    top: 3.5rem;
    right: 3.5rem;
  }
}

.navigation__nav {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 100vh;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  z-index: 1500;
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.navigation__item:not(:last-child) {
  margin-bottom: 1rem;
}

.navigation__link {
  display: inline-block;
  padding: 1rem 2rem;
  color: #fff;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 250%;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.navigation__link span {
  display: inline-block;
  margin-right: 1.5rem;
}

.navigation__link:hover {
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
  color: #55c57a;
  background-position: 100%;
}

.navigation__icon {
  position: relative;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  display: inline-block;
  width: 3rem;
  height: 2px;
  background-color: #333;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.navigation__icon::before, .navigation__icon::after {
  content: '';
  position: absolute;
  left: 0;
}

.navigation__icon::before {
  content: '';
  position: absolute;
  top: -.8rem;
}

.navigation__icon::after {
  content: '';
  position: absolute;
  top: .8rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.about-section {
  margin-top: -20vh;
  padding: 25rem 0;
  background-color: #f7f7f7;
}

@media only screen and (max-width: 56.25em) {
  .about-section {
    padding: 30rem 0;
  }
}

@media only screen and (max-width: 37.5em) {
  .about-section {
    padding: 30rem 0;
  }
}

.features-section {
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
  margin-top: -17rem;
  padding: 20rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(85, 197, 122, 0.95)), to(rgba(40, 180, 133, 0.8))), url("../img/nat-4.jpg");
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.95), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg");
  background-size: cover;
  background-position: top;
}

.features-section > * {
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

@media only screen and (max-width: 56.25em) {
  .features-section {
    padding: 10rem 0;
  }
}

.tours-section {
  margin-top: -10rem;
  padding: 30rem 0 15rem;
  background-color: #f7f7f7;
}

@media only screen and (max-width: 56.25em) {
  .tours-section {
    padding: 20rem 0 10rem;
  }
}

.stories-section {
  position: relative;
  padding: 15rem 0;
}

@media only screen and (max-width: 56.25em) {
  .stories-section {
    padding: 10rem 0;
  }
}

.booking-section {
  padding: 15rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#55c57a), to(#28b485));
  background-image: linear-gradient(to right bottom, #55c57a, #28b485);
}

@media only screen and (max-width: 56.25em) {
  .booking-section {
    padding: 10rem 0;
  }
}

.book {
  width: 100%;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("../img/nat-10.jpg");
  background-size: cover;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 75em) {
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url("../img/nat-10.jpg");
  }
}

@media only screen and (max-width: 56.25em) {
  .book {
    background-image: -webkit-gradient(linear, left top, right top, to(rgba(255, 255, 255, 0.9))), url("../img/nat-10.jpg");
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 100%), url("../img/nat-10.jpg");
  }
}

.book__form {
  width: 50%;
  padding: 6rem;
  overflow: hidden;
}

@media only screen and (max-width: 75em) {
  .book__form {
    width: 65%;
  }
}

@media only screen and (max-width: 56.25em) {
  .book__form {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */